.DS_Store
.well-known

# node
node_modules
npm-debug.log
.env

# app
.nginx
*.nginx.conf
views/*-dist
# views/*-dist-map.json

# build
__build
__build.lock

# IDE
.idea

*.sublime-project
*.sublime-workspace

sftp-config.json
sftp-settings.json


# agentx
agentx-conf.json
